$gap: 20px;

.input {
  background: #100f16;
}
.widget {
  display: flex;
  gap: $gap;
  position: relative;
}
.form {
  display: flex;
  gap: $gap;
  .group {
    display: flex;
    flex-direction: column;
    gap: $gap / 2;
  }
  input {
    width: 70px;
  }
}
.addCandle {
  position: absolute;
  left: $gap;
  top: $gap;
}
.line {
  width: 1.8px;
  border-radius: 2px;
  height: inherit;
  background: rgba(#7e77ae, 0.2);
}
